<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Mint Builder</title>
        <script src="https://unpkg.com/htmx.org@2.0.4"
                integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
                crossorigin="anonymous">
        </script>
        <script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    {% load mint_extras %}
    <body class="bg-gradient-to-r from-lime-300 via-emerald-300 to-teal-300 text-emerald-800 font-sans p-8"
          id="detail"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="container mx-auto text-center">
        <h2 class="text-3xl font-semibold mb-4">Let's Mint some Teams</h2>
        <button name="team_param"
                _="on click trigger showModal on #edit_param"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
            {{ poll.chat_name }}
        </button>
        <dialog id="edit_param"
                style="opacity: 0;"
                _= "on showModal call my showModal() then transition my opacity to 1 over 150ms
                    on click measure me then
                    set is_in_me to result.top <= event.clientY and
                                    event.clientY <= result.top + result.height and
                                    result.left <= event.clientX and
                                    event.clientX <= result.left + result.width
                    if is_in_me is false trigger closeModal end
                    on closeModal transition my opacity to 0 over 150ms then call my close() "
                class="center w-4/5 bg-transparent">
            <form name="edit_param_form"
                  method="dialog"
                  hx-post='{% url "mintbuilderapp:edit_poll_param" poll.pk group.pk %}'
                  hx-target="#detail"
                  class="bg-green-200 shadow-md rounded px-6 pt-4 pb-6 mb-4">
                <div>
                    <p>
                        <label class="float-left mb-4" for="max_participant">Places disponibles:</label>
                        <input type="number"
                               id="max_participant"
                               name="max_participant"
                               class="float-right"
                               min="1"
                               max="999"
                               value="{{ poll.max_participant }}">
                        </p>
                    <br>
                    <p>
                        <label class="float-left mb-4" for="team_size">Taille des équipes:</label>
                        <input type="number"
                               id="team_size"
                               name="team_size"
                               class="float-right"
                               min="1"
                               max="999"
                               value="{{ poll.team_size }}">
                    </p>
                    <br>
                    <br>
                    <input type="submit"
                           class="center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
                           _="on click trigger closeModal on #edit_param">
                </div>
            </form>
        </dialog>
        {% if message %}
            <dialog open
                    id="alert-dialog"
                    style="transition: all 150ms ease-in; opacity: 0;"
                    class="center w-4/5"
                    _=" on load transition my opacity to 1
                        then wait for click or 1.5s
                        then transition my opacity to 0 then settle then remove me">
                <div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md"
                     role="alert">
                    {{ message }}
                </div>
            </dialog>
        {% endif %}
        <div name="tablist" class="grid grid-cols-4 md:grid-cols-5 lg:grid-cols-6 xl:grid-cols-7 2xl:grid-cols-8">
            {% for poll_group in poll.group_set.all|dictsort:"tab_position" %}
                {% if poll_group.color != 'zinc' %}
                    <button name="tab"
                            hx-get='{% url "mintbuilderapp:detail" poll.pk poll_group.pk %}'
                            hx-target="#detail"
                            hx-swap="outerHTML"
                            class="bg-{{ poll_group.color }}-500 hover:bg-{{ poll_group.color }}-700 text-white font-bold py-2 px-4">
                        {{ poll_group }}
                    </button>
                {% endif %}
            {% endfor %}
            {% if group.number_of_participants > 0 %}
            <button name="new_tab"
                    hx-post='{% url "mintbuilderapp:new_request" poll.pk %}'
                    hx-target="#detail"
                    hx-swap="outerHTML"
                    class="bg-emerald-600 hover:bg-emerald-800 text-white font-bold py-2 px-4">
                +
            </button>
            {% endif %}
        </div>
        <div class="mb-4 rounded-sm rounded-t-none border border-{{ group.color }}-500 ">
        {% for participant, part_group in part_groups %}
            {% if part_group and part_group.pk != group.pk %}
                {% include "mintbuilderapp/partials/button_selected_locked.html" with participant=participant color=part_group.color to_group=part_group %}
            {% elif participant in group.participant_set.all %}
                {% include "mintbuilderapp/partials/button_selected.html" with participant=participant color=group.color to_group=group %}
            {% elif not part_group and participant not in group.participant_set.all %}
                {% include "mintbuilderapp/partials/button_unselected.html" with participant=participant color=group.color to_group=group %}
            {% endif %}
        {% endfor %}
        <dialog id="confirm_delete"
                style="opacity: 0;"
                _= "on showModal set #confirm_delete_but's value to my @part_id
                    then put `Veux-tu vraiment supprimer ${my @part_name} ?`into #delete_label
                    then call my showModal() then transition my opacity to 1 over 150ms
                    on click measure me then
                    set is_in_me to result.top <= event.clientY and
                                    event.clientY <= result.top + result.height and
                                    result.left <= event.clientX and
                                    event.clientX <= result.left + result.width
                    if is_in_me is false trigger closeModal end
                    on closeModal transition my opacity to 0 over 150ms then call my close() "
                class="center w-4/5 bg-transparent">
            <form id="confirm_delete_form"
                  method="dialog"
                  hx-post='{% url "mintbuilderapp:remove_participant" poll.pk group.pk %}'
                  hx-target="#detail"
                  class="bg-green-200 shadow-md rounded px-6 pt-4 pb-6 mb-4">
                <output id="delete_label" class="mb-2">--</output><br>
                <button name="cancel_delete"
                        type="reset"
                        _="on click trigger closeModal on #confirm_delete"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                    Annuler
                </button>
                <button name="confirm_delete_but"
                        id="confirm_delete_but"
                        type="submit"
                        _="on click trigger closeModal on #confirm_delete"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                    Confirmer
                </button>
            </form>
        </dialog>
        <button name="add_participant"
                class="bg-transparent hover:bg-{{ group.color }}-500 text-{{ group.color }}-700 font-semibold hover:text-white py-2 px-4 mx-1 my-2 border border-{{ group.color }}-500 hover:border-transparent rounded"
                _="on click trigger showModal on #add_part_dialog">
            +
        </button>
        <dialog id="add_part_dialog"
                style="opacity: 0;"
                _= "on showModal call my showModal() then transition my opacity to 1 over 150ms
                    on click measure me then
                    set is_in_me to result.top <= event.clientY and
                                    event.clientY <= result.top + result.height and
                                    result.left <= event.clientX and
                                    event.clientX <= result.left + result.width
                    if is_in_me is false trigger closeModal end
                    on closeModal transition my opacity to 0 over 150ms then call my close() "
                class="center w-4/5 bg-transparent">
            <form name="add_part_form"
                  method="dialog"
                  hx-post='{% url "mintbuilderapp:add_participant" poll.pk group.pk %}'
                  hx-target="#detail"
                  class="bg-green-200 shadow-md rounded px-6 pt-4 pb-6 mb-4">
                <label class="mb-2" for="new_participant">Nom du participant:</label><br>
                <input type="text"
                       id="new_participant"
                       name="new_participant"
                       class="mb-4">
                <input type="submit"
                       class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
                       _="on click trigger closeModal on #add_part_dialog">
            </form>
        </dialog>
        </div>
        <div>
            <button name="roll"
                    hx-post='{% url "mintbuilderapp:teams" poll.pk %}'
                    hx-target="#detail"
                    hx-swap="outerHTML"
                    value="{{ group.pk }}"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                Créer Équipes
            </button>
            <button name="réinit"
                        hx-put='{% url "mintbuilderapp:init" poll.pk %}'
                        hx-target="#detail"
                        hx-swap="outerHTML"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                    Réinitialiser
            </button>
        </div>
    </div>

</body>
</html>