<body class="bg-gradient-to-r from-lime-300 via-emerald-300 to-teal-300 text-emerald-800 font-sans p-8"
      id="teams"
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <h2 class="text-3xl font-semibold text-center mb-4">The Teams have been Minted</h2>
    <div class="container mx-auto text-center">
        {% for team in teams %}
            <div class="border border-green-400 bg-green-300 bg-opacity-25 my-6">
                <h3 class="text-xl font-medium my-2"> Team {{ forloop.counter }} </h3>
                {% for participant in team %}
                <button name="button_selected"
                        class="bg-green-500 text-white font-bold py-2 px-4 mx-1 my-2 border border-green-500 rounded">
                    {{ participant }}
                </button>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="flex flex-col items-center">
            <button name="roll_again"
                    hx-put='{% url "mintbuilderapp:reroll_teams" poll.pk %}'
                    hx-target="#detail"
                    hx-swap="outerHTML"
                    class="w-3/5 bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 border-b border-teal-700 rounded-t">
                Retirer Équipes
            </button>
            {% if poll.chat_id != 0 %}
            <button name="post_teams_but"
                class="w-3/5 bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 border-b border-teal-700"
                _="on click trigger showModal on #post_teams">
                Poster les Équipes
            </button>
            <button name="request"
                    hx-post='{% url "mintbuilderapp:new_request" poll.pk %}'
                    hx-target="#detail"
                    hx-swap="outerHTML"
                    class="w-3/5 bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded-b">
                Retour
            </button>
            <dialog id="post_teams"
                    style="opacity: 0;"
                    _= "on showModal call my showModal() then transition my opacity to 1 over 150ms
                        on click measure me then
                        set is_in_me to result.top <= event.clientY and
                                        event.clientY <= result.top + result.height and
                                        result.left <= event.clientX and
                                        event.clientX <= result.left + result.width
                        if is_in_me is false trigger closeModal end
                        on closeModal transition my opacity to 0 over 150ms then call my close() "
                    class="center w-4/5 bg-transparent">
                <form name="add_part_form"
                      method="dialog"
                      hx-post='{% url "mintbuilderapp:post_teams" poll.pk %}'
                      hx-swap="none"
                      class="bg-green-200 shadow-md rounded px-6 pt-4 pb-6 mb-4">
                    <p>Veux-tu vraiment poster sur {{ poll.chat_name }} les équipes tirées ?</p>
                    <button name="cancel_post"
                            type="reset"
                            _="on click trigger closeModal on #post_teams"
                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                        Annuler
                    </button>
                    <button name="confirm_post"
                            id="confirm_post"
                            type="submit"
                            _="on click trigger closeModal on #post_teams"
                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                        Confirmer
                    </button>
                </form>
            </dialog>
            {% endif %}
        </div>
    </div>
</body>
