<button name="button_selected_locked"
        _=  "on mousedown or touchstart wait for mouseup or touchend or 700
            if the result is 700 -- long press
                set #confirm_delete's @part_name to '{{ participant }}'
                then set #confirm_delete's @part_id to '{{ participant.pk }}'
                then trigger showModal on #confirm_delete
            end"
        class="bg-{{ color }}-500 text-white font-bold py-2 px-4 mx-1 my-2 border-2 border-{{ color }}-600  rounded">
    {{ part_names|get_item:participant.pk }} <!-- need to use a custom tag... -->
</button>