<button name="button_unselected"
        _=  "on mousedown or touchstart wait for mouseup or touchend or 700
            if the result is 700 -- long press
                set #confirm_delete's @part_name to '{{ participant }}'
                then set #confirm_delete's @part_id to '{{ participant.pk }}'
                then trigger showModal on #confirm_delete
            else -- short press
                set @value to '{{ participant.pk }}' log 'short'
            end"
        hx-post="{{ to_group.pk }}/button_selected/"
        hx-swap="outerHTML"
        hx-target="#detail"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        type="button"
        class="bg-transparent hover:bg-{{ color }}-500 text-{{ color }}-700 font-semibold hover:text-white py-2 px-4 mx-1 my-2 border-2 border-{{ color }}-500 hover:border-transparent rounded">
    {{ participant }} <!-- {{ to_group.participant_set.all }} -->
</button>